JAX-WS-ServiceProvider/client/wsdl/EmployeeServiceImpl.wsdl

<?xml version="1.0" encoding="UTF-8"?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is JAX-WS RI 2.2.9-b130926.1035 svn-revision#5f6196f2b90e9460065a4c2f4e30e065b245e51e. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is JAX-WS RI 2.2.9-b130926.1035 svn-revision#5f6196f2b90e9460065a4c2f4e30e065b245e51e. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://service.jaxws.webservice.java.com/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://service.jaxws.webservice.java.com/" name="EmployeeServiceImplService">
<types>
<xsd:schema>
<xsd:import namespace="http://service.jaxws.webservice.java.com/" schemaLocation="http://localhost:8888/ws/employeeWS?xsd=1"></xsd:import>
</xsd:schema>
</types>
<message name="addEmployee">
<part name="parameters" element="tns:addEmployee"></part>
</message>
<message name="addEmployeeResponse">
<part name="parameters" element="tns:addEmployeeResponse"></part>
</message>
<message name="deleteEmployee">
<part name="parameters" element="tns:deleteEmployee"></part>
</message>
<message name="deleteEmployeeResponse">
<part name="parameters" element="tns:deleteEmployeeResponse"></part>
</message>
<message name="getEmployee">
<part name="parameters" element="tns:getEmployee"></part>
</message>
<message name="getEmployeeResponse">
<part name="parameters" element="tns:getEmployeeResponse"></part>
</message>
<message name="getAllEmployee">
<part name="parameters" element="tns:getAllEmployee"></part>
</message>
<message name="getAllEmployeeResponse">
<part name="parameters" element="tns:getAllEmployeeResponse"></part>
</message>
<portType name="EmployeeService">
<operation name="addEmployee">
<input wsam:Action="http://service.jaxws.webservice.java.com/EmployeeService/addEmployeeRequest" message="tns:addEmployee"></input>
<output wsam:Action="http://service.jaxws.webservice.java.com/EmployeeService/addEmployeeResponse" message="tns:addEmployeeResponse"></output>
</operation>
<operation name="deleteEmployee">
<input wsam:Action="http://service.jaxws.webservice.java.com/EmployeeService/deleteEmployeeRequest" message="tns:deleteEmployee"></input>
<output wsam:Action="http://service.jaxws.webservice.java.com/EmployeeService/deleteEmployeeResponse" message="tns:deleteEmployeeResponse"></output>
</operation>
<operation name="getEmployee">
<input wsam:Action="http://service.jaxws.webservice.java.com/EmployeeService/getEmployeeRequest" message="tns:getEmployee"></input>
<output wsam:Action="http://service.jaxws.webservice.java.com/EmployeeService/getEmployeeResponse" message="tns:getEmployeeResponse"></output>
</operation>
<operation name="getAllEmployee">
<input wsam:Action="http://service.jaxws.webservice.java.com/EmployeeService/getAllEmployeeRequest" message="tns:getAllEmployee"></input>
<output wsam:Action="http://service.jaxws.webservice.java.com/EmployeeService/getAllEmployeeResponse" message="tns:getAllEmployeeResponse"></output>
</operation>
</portType>
<binding name="EmployeeServiceImplPortBinding" type="tns:EmployeeService">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"></soap:binding>
<operation name="addEmployee">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="deleteEmployee">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="getEmployee">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="getAllEmployee">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
</binding>
<service name="EmployeeServiceImplService">
<port name="EmployeeServiceImplPort" binding="tns:EmployeeServiceImplPortBinding">
<soap:address location="http://localhost:8888/ws/employeeWS"></soap:address>
</port>
</service>
</definitions>